/bin/
/target/
/vendor/
/vendor/**/.git
/build
/coverage
/.vscode
.vscode/*

.project
.buildpath
.settings
.idea
/.idea

.phpunit.result.cache
.phpunit.cache/
/build/*
/.cache/

cov.xml
coverage.xml

./tests/integration/nginx-webtrees/scripts/*
./tests/integration/nginx-webtrees/webtrees/*
./tests/integration/nginx-webtrees/*
tests/integration/nginx-webtrees/scripts/*
tests/integration/nginx-webtrees/scripts
