<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  displayDetailsOnTestsThatTriggerWarnings="true"
  >

  <php>
    <const name="WT_MODULES_DIR" value="src"/>
    <const name="WT_REGEX_XREF" value="[A-Za-z0-9:_-]+"/>
  </php>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
</phpunit>
